{% extends 'base.html.twig' %}
  {% block css %}
<style >
body{ text-align:center;
       width:50%}
</style>
{% endblock %}
{% block body %}
<table class="table table-striped table-bordered" >
  {% for f in fruits %}
  {% if  f.getComestible() %}
  <tr>
    <td>{{ f.getName() }}</td>
    <td>{{ f.origin }}</td>

  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endblock %}
